body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.red{
    color: rgb(216, 146, 54);
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
   
}
.first{
    width: 50%;
    padding-left: 5%;
   
}
            
.first img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:  5px 10px;
    color: black;
    font-weight: 700;
    border-radius: 5px;
}
.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
 .big-boy {
    background-image: url(showoff/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;

}
    .experience{
        width: 50%;
        margin-left: 5%;
        margin-right: 1%;
        border-radius: 10px;
        padding-left: 5%;
         box-shadow: 10px 5px 40px gray ;
        
    }
   #web-dev{
       border-left: 7px solid;
       border-image: linear-gradient(blue,cyan);
       border-image-slice: 1;
   }
   #bank{ 
       border-left: 7px solid;
    border-image: linear-gradient(salmon,orange);
    border-image-slice: 1;
}
 footer p{
     text-align: center;
 }
   
    


         
   
    